body

{
	background: #8A939D;
}

.right

{


}

.left

{
float: left;

}

.center

 {

   position: fixed;
   top: 20%;
   left: 45%;
   margin-top: -50px;
   margin-left: -100px;
   background: #868d94;
   padding: 20px;
}

.center2

{

   position: fixed;
   top: 52%;
   left: 45%;
   margin-top: -50px;
   margin-left: -100px;
   background: #868d94;
   padding: 20px;

}


input[type="text"] {
   border: 1px solid #cccccc;
   outline: none;я)
   color: #cccccc;
   font-size: 20px;
   font-family: Tahoma;
}

a
{
text-decoration: none;
color:white;
}
table { width: 500px; border-collapse: collapse; margin: 0px auto; background: #E6E6E6; }
td { padding: 5px; text-align: center; vertical-align: middle; }
.buttons { width: auto; border: double 1px #666666; background: #D6D6D6; }


.tstyle1

{
float:left;

}

.tstyle2
{

float:right;
width: 500px;
margin-right: auto;
margin-left: auto;

.tstyle3
{
float:right;

}